<%= render 'form' %>

<% unless @committers.present? %>
  <div class="alert alert-danger" role="alert">
    Ошибка получения данных по репозиторию.
    Проверьте адрес и повторите.
  </div>
<% else %>
  <h2>Results</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Место</th>
      <th>Комитер</th>
      <th>Комитов</th>
      <th></th>
    </tr>
    </thead>
    <% @committers.each do |cmtr| %>
      <tr>
        <td><%= cmtr.place %></td>
        <th><%= cmtr.author %></th>
        <td><%= cmtr.total %></td>
        <td class="w-25">
          <a href="<%= pdf_path(cmtr.id) %>" class="btn btn-info w-100" download="pdf">
            download pdf
          </a>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td>
        <a href="<%= zip_path(@committers.first.stock) %>" class="btn btn-primary w-100" download="zip">
          download Zip (<%= @committers.count %>)
        </a>
      </td>
    </tr>
  </table>

<% end %>
