<%= render 'form' %>

<% unless @committers.present? %>
  <div class="alert alert-danger" role="alert">
    Ошибка получения данных по репозиторию.
    Проверьте адрес и повторите.
  </div>
<% else %>
  <table class="table">
    <thead>
    <tr>
      <th>Место</th>
      <th>Комитер</th>
      <th>Комитов</th>
      <th></th>
    </tr>
    </thead>
    <% @committers.each do |cmtr| %>
      <tr>
        <td><%= cmtr.place %></td>
        <th><%= cmtr.author %></th>
        <td><%= cmtr.total %></td>
        <td>
          <a href="<%= pdf_path(cmtr.id) %>" class="btn btn-info float-right col-md-6" download="pdf">
            download pdf
          </a>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="col-md-12 text-right">
    <a href="<%= zip_path(@committers.first.stock) %>" class="btn btn-primary col-md-2" download="zip">
      Download Zip (<%= @committers.count %>)
    </a>
  </div>
<% end %>
