<!DOCTYPE html>
<html>
<head>
  <title>Gra - генерация pdf-дипломов для контрибуторов</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container mt-4">
  <div class="row d-block">
    <div class="col-sm-12" id="content">
      <%= bootstrap_flash %>
      <h1>Gra</h1>
      <h2>GithubRepoAwards</h2>
      <h3>генерация pdf-дипломов для контрибуторов репозитория</h3>
      <br>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
